html{
  background-color: snow;
}

h1{
  width: 402px;
  text-align: center;
}

body {
  width: 500px;
  position: fixed;
  left: 30%;
}

#sudoku-game-board{
  display: inline-block;
}

table {
  position: relative;
  border-collapse: collapse;
}

table td {
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
}

table td input {
  height: 40px;
  width: 40px;
  text-align: center;
}

.sudoku-button{
  padding: 5px;
  margin: 10px;
}

.game-options{
  display: inline-block;
  float: right;
  width: 80px;
  border: 1px solid black;
}

.rules{
  width: 402px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.game-options ul{
  margin: 0;
  margin-top: 3px;
  padding: 0;
  list-style-type: none;
}

input[type="text"] {
  border: none;
}

input {
  margin: 1px;
  padding: 0px;
  font-weight: bold;
  font-size: 150%;
  background-color: transparent;
}
input[type="button"] {
  background-color: #F8F8F8;
}

input[type="text"].false-input {
  border: 1px solid red;
  box-shadow: inset 0 0 3px red;
  color: red;
}

input[type="text"].valid-input {
  border: 1px solid limegreen;
  box-shadow: inset 0 0 3px limegreen;
}

td[section='0'] {
  background-color: lemonchiffon;
}

td[section='1'] {
  background-color: peru;
}

input[startingNumber='yes'] {
  box-shadow: none !important;
  color: black;
  box-shadow: inset 0 0 3px black !important;
  border: 1px solid black !important;
}

input[solver='yes'] {
  border: 1px solid blue !important;
  box-shadow: inset 0 0 3px blue !important;
  color: blue;
}

input[corrected='yes'] {
  border: 1px solid purple !important;
  box-shadow: inset 0 0 3px purple !important;
  color: purple;
}

input[disabled='disabled'] {
  opacity: 1;
  color: black !important;
}
