table {
  position: relative;
  border-collapse: collapse;
}
table td {
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
}

table td input {
  height: 40px;
  width: 40px;
  text-align: center;
}

input {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 150%;
  background-color: transparent;
}

.false-input{
  background-color: pink !important;
}

.valid-input{
  background-color: lightgreen !important;
}

input[section='0'] {
  background-color: white;
}

input[section='1'] {
  background-color: lightgrey;
}
